@charset "utf-8";

/* footer */
.#{$prefix}-footer {
    position:           absolute;
    bottom:             0;
    width:              100%;
    line-height:        60px;
    text-align:         center;
    background-color:   #9acd32;
}
